rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny for all other resources
    match /{document=**} {
      allow read, write: if false;
    }

    // Configs collection containing the Suez site configuration
    match /configs/{configId} {
      // Config is publicly readable to render the landing page elements
      allow get: if true;
      allow list: if false;
      
      // Permit writes for corporate configuration updates
      allow write: if true;
    }
  }
}
